*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}

.contenedor-perfil{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 20%;
}


.img_perfil {
    width: 100px;           /*controlo el ancho de la imagen*/
    height: 100px;          /*controlo el alto de la imagen*/   
    border-radius: 50%;     /*controla lo redondeado de la imagen*/
    object-fit: cover;      /*evita que se deforme la imagen*/
    display: block;
}


@media(max-width: 600px) {
    .contenedor-perfil {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;

    }
    .contenedor-botones {
        display: flex;
        flex-direction:row;
        gap: 10px;
        align-items: flex-start;
    }
    .contenedor-botones button{
        padding-inline-start: 60px;
    }
    .contenedor-botones button:hover{
        color: gold;
    }
    /* Menu hamburguesa */
    .contenedor-botones{
        display: none;
    }
    
    .contenedor-botones{
        font-size: 32px;
        cursor: pointer;
        display: none;
    }
    
    .contenedor-imagenes {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        background-color: silver;
        gap: 10px;
        align-items: center;
    }
    .contenedor-imagenes div{
        width: 40vw;
        height:60vw;
        border-radius: 10%;
        object-fit: cover;
        overflow: hidden;
        padding: auto;
    }
    .contenedor-imagenes img{
        width: 100%;
    }
    
}

@media (min-width: 600px) and (max-width: 1024px) {
    .contenedor-perfil {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
    }
    .contenedor-botones {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
 
    .contenedor-imagenes {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        background-color: silver;
        gap: 10px;
        align-items: center;
    }
    .contenedor-imagenes div{
        width: 40vw;
        height:20vw;
        border-radius: 10%;
        object-fit: cover;
        overflow: hidden;
        padding: auto;
    }
    .contenedor-imagenes img{
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .contenedor-perfil {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
    }
    .contenedor-botones {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }
    .contenedor-imagenes{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    background-color: silver;
    gap: 10px;
    align-items: center;
    }
    .contenedor-imagenes div{
    width: 40vw;
    height:20vw;
    border-radius: 10%;
    object-fit: cover;
    overflow: hidden;
    padding: auto;
    }
    .contenedor-imagenes img{
    width: 100%;
    }

}