
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
</head>
<body>
    <main> 
        <section class="detalle-producto">
            <div class="producto-imagen"> 
                <img src="../storage/img/modelo_1.jpg" alt="modelo_1">
            </div>
            <div class="producto-info">
                <h2>Vestido 1</h2>
                <p>Descripción del vestido 1.</p>
                <button class="btn-leerMas">Read More..</button>
            </div>
            <div class="botnnes-detalle">
                <button class="btn-menos">
                    <img src="../storage/iconos/subtraction.svg"alt="" class="icono_btn">
                </button>
                <button class="btn-valor">
                    <span class="valor">1</span>
                </button>
                <button class="btn-suma">
                    <img src="../storage/iconos/add.svg" alt="" class="icono_btn">
                </button>
            </div>
        </section>
        <section class="contenedor-medidasRopa">
            <button class="btn-blancos" >
                S
            </button>
            <button class="btn-blancos" >
                M
            </button>
            <button class="btn-blancos" >
                L
            </button>   
            <button class="btn-blancos" >
                XL
            </button>
        </section>
         <section class="contenedor-colorRopa">
            <button class="btn-color" ></button>
            <button class="btn-color" ></button>
            <button class="btn-color" ></button>   
            <button class="btn-color" ></button>
        </section>
         <input type="checkbox" id="check-menu" class="checkbox-menu">
        <label for="check-menu" class="menu-toggle"> 
             ☰ 
        </label>
        <nav class="barra-fija">
            <button class="btn-barra">
             <img src="../storage/iconos/shopping-car.svg" alt="comprar">
             <span class="texto">Add to Cart | 29.99</span>
            </button>
        </nav>
    </main>
       
</body>
</html>