
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main> 
        <section class="contenedor-imagenes">
            <div class="tarjeta-imagen"> 
                <img src="../storage/img/modelo_1.jpg" alt="modelo_1">
                <input type="checkbox" id="like-1" class="check-like">  
                <label for="like-1" class="btn-heart" aria-label="Me gusta">  </label>
                <a href="../index.html"><button class="icon-btn" aria-label="Volver">&lt;</button></a>
            </div>
        </section>
       
        <section class="contenedor-info">
            <div class="producto">
                <h2>Vestido 1</h2>
                <input type="checkbox" id="expandir-toggle" class="toggle-checkbox">
                <p class="texto-descripcion">Esta prenda consiste en un suéter tejido de silueta holgada (oversized) en tono blanco roto 
                    o marfil. Cuenta con un diseño de punto acanalado grueso, cuello redondo amplio, hombros caídos 
                    y mangas largas con puños texturizados.
                    El atuendo se complementa con unos pantalones de vestir 
                        de tiro alto en color beige claro o arena. Su estructura presenta un corte de pierna 
                        ancha (wide-leg) fluida que aporta movimiento y estiliza la figura.
                 </p>
            </div>
        </section>
        <section class="contenedor botones">    
            <div class="botones-detalle">
                <button class="btn-menos">
                    <img src="../storage/iconos/subtraction.svg"alt="" class="icono_btn">
                </button>
                <button class="btn-valor">
                    <span class="valor">1</span>
                </button>
                <button class="btn-suma">
                    <img src="../storage/iconos/mas.png" alt="" class="icono_btn">
                </button>
            </div>
        </section>
        <section class="contenedor-medidasRopa">
            <h3>Select Size </h3>
            <button class="btn-blancos" >
                S
            </button>
            <button class="btn-blancos" >
                M
            </button>
            <button class="btn-blancos" >
                L
            </button>   
            <button class="btn-blancos" >
                XL
            </button>
        </section>
        
         <section class="contenedor-colorRopa">
            <h3> Select Color </h3>
            <button class="btn-color" ></button>
            <button class="btn-color" ></button>
            <button class="btn-color" ></button>   
            <button class="btn-color" ></button>
        </section>
       
        <nav class="barra-fija">
            <a href="#"> 
                <button class="btn-barra">
                    <img src="../storage/iconos/shopping-car.svg" alt="comprar">
                    <span class="texto">Add to Cart | 29.99</span>
                </button>
            </a>
        </nav>
    </main>
       
</body>
</html>